.submit-button {
  border: none;
  padding: 8px 20px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
}

body {
  background-color: rgb(24, 23, 23);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
