.slideshow-container {
  position: relative;
  max-width: 600px;
  margin: auto;
}

#mainImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.fade {
  transition: opacity 0.5s ease-in-out;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#prevBtn {
  left: 10px;
}
#nextBtn {
  right: 10px;
}
