.dropdown {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dropbtn {
  font-family: sans-serif;
  border: none;
  background-color: black;
  color: #fff;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 18px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: black;
}

.show {
  display: block !important;
}
