.add-button {
  cursor: pointer;
  border: none;
  padding: 8px 20px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 18px;
  color: rgb(3, 3, 80);
}

.input {
  padding: 10px;
  font-size: 15px;
}

.heading {
  font-family: sans-serif;
  text-align: center;
  font-size: 35px;
  color: rgb(3, 3, 80);
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
